body {
  box-sizing: border-box;
}

img {
  width: 300px;
  height: 200px;
  margin: 10px;
  transition: all 0.5s;
  box-shadow: 8px 8px 13px #88888888;
  border-radius: 10px;
}
img:hover {
  transform: scale(1.1);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  font-family: fantasy;
  font-size: 3em;
  margin-top: 10px;
  border-bottom: 2px outset orangered;
  border-right: 2px outset orangered;
  width: 400px;
  text-align: center;
  box-shadow: 8px 8px 13px #88888888;
  border-radius: 5px;
}